.wrapper {
  bottom: 0;
  left: 15rem;
  right: 15rem;
  margin: 0 auto;
  position: sticky;
  padding: 1.5rem 0;
  background-color: #1f1f1f;
  z-index: 100;
}

.container {
  display: flex;
  gap: 10px;
  padding: 0 1rem;
}

.inputField {
  background-color: #333333;
}

.submitButton {
  padding: 0 3rem;
}

.divider {
  border: 1px solid #ffcc48;
  border-radius: 5px;
  margin-bottom: 20px;
}
