.breweryName {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: -15px;
}

.beerName {
  font-size: 30px;
  font-weight: medium;
  margin: 0px;
}

.rating {
  display: flex;
  gap: 0.2rem;
  align-items: end;
}

.ratingNumber {
  font-size: 30px;
  color: #ffcc48;
  margin-bottom: 0px;
}

.ratingText {
  font-size: 30px;
  margin-bottom: 0px;
}

.basedOn {
  font-size: 15px;
  font-weight: lighter;
  margin-top: -10px;
}

.info {
  display: flex;
  gap: 1rem;
}

.attributeContainer {
  background-color: #333333;
  padding: 10px;
  width: 80px;
  border-radius: 10px;
  text-align: center;
}

.attributeText {
  margin: 0;
}
