.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
  width: 20%;
  padding: 1rem;
  background-color: #333;
  position: sticky;
}

@media screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
