.commentContainer {
  background-color: #333333;
  border-radius: 10px;
  padding: 15px 5vw;
  display: flex;
}

.commentContentContainer {
  background-color: #333333;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.commentHeader {
  display: inline-block;
  border-bottom: 1px solid #ffcc48;
}

.commentAuthor {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  font-weight: bold;
}

.dot {
  color: #ffcc48;
  padding: 0px;
  font-weight: bold;
  margin: 0px 10px;
  display: inline-block;
}

.commentDate {
  padding: 0px;
  margin: 0px;
  font-weight: lighter;
  display: inline-block;
}

.commentText {
  padding-top: 5px;
  margin: 0px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  all: unset;
}

.buttonContainer:hover {
  cursor: pointer;
}

.buttonContainer:focus {
  outline: 4px dashed #ffcc48;
  outline-offset: -2px;
}
