.attributeContainer {
  background-color: #333333;
  padding: 12px;
  min-width: 160px;
  height: 90px;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @media (max-width: 1380px) {
    min-width: 100px;
  }
}

.attributeHeaderContainer {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
}

.attributeHeading {
  font-size: 16px;
  font-weight: 700;
  display: inline;
}

.attributeText {
  margin: 0;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

/* Mobile Beer attribute styling */

.mobileContainer {
  background-color: #333333;
  padding: 12px;
  min-width: 200px;
  min-height: 90px;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mobileHeaderContainer {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobileHeading {
  font-size: 10px;
  font-weight: 400;
  display: inline;
  margin: 0;
}

.mobileText {
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}

.textContainer {
  display: flex;
  flex-direction: column;
}
