.mobileContainer {
  background-color: #1f1f1f;
  margin: auto;
}

.mobileCard {
  border: none;
  width: 80vw;
  margin: 0 auto;
}

.loginFormUsername {
  margin-bottom: 10px;
}

.loginFormHeaderMobile {
  text-align: left;
}

.logoSection {
  margin: 1rem;
}

.loginLink {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 3rem;
  text-decoration: underline;
  color: #f2bd27;
}

.loginLink:focus {
  outline: 2px dashed #99a74b;
}

.loginFormMobile input {
  background-color: #333;
}

.loginFormMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginFormMobile .loginButton {
  width: 100%;
  color: black;
  margin-top: 10px;
}

.mobileContainer .loginFormMobile .loginButton:hover {
  color: black;
}

.loginFormPasswordContainer {
  background-color: #333;
}
