.mobileContainer {
  background-color: #1f1f1f;
  margin: auto;
}

.mobileCard {
  border: none;
  width: 80vw;
}

.loginFormUsername {
  margin-bottom: 10px;
}

.loginFormHeaderMobile {
  text-align: left;
}

.logo {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  gap: 8px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
}

.logo:focus {
  outline: 2px dashed #99a74b;
  outline-offset: -2px;
}

.logo:hover {
  cursor: pointer;
  color: white;
}

.loginLink {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 3rem;
  text-decoration: underline;
  color: #f2bd27;
}

.loginLink:focus {
  outline: 2px dashed #99a74b;
}

.loginFormMobile input {
  background-color: #333;
}

.loginFormMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginFormMobile .loginButton {
  width: 100%;
  color: black;
  margin-top: 10px;
}

.mobileContainer .loginFormMobile .loginButton:hover {
  color: black;
}

.loginFormPasswordContainer {
  background-color: #333;
}
