.appBody {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  margin: 0;
  /* overflow: hidden; */
}

.mainSection {
  flex-grow: 1;
  padding: 3rem 10rem;
  overflow-y: scroll;
}

.logoutBtn {
  background-color: #ffcb48;
  filter: brightness(0.8);
  border: 2px solid black;
  border-radius: 50%;
  padding: 6px;
  height: 2.5rem;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1000;
}

.logoutBtn:active {
  filter: brightness(1);
  transition: all 0.01s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .mainSection {
    padding: 3rem 2rem;
  }
}

.skipLink {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: #ffcc48;
  color: black;
  opacity: 0;
}
.skipLink:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.toTopBtn {
  position: relative;
}
.iconStyle {
  background-color: #ffcb48;
  filter: brightness(0.8);
  border: 2px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 20;
}

.iconStyle:active {
  filter: brightness(1);
  transition: all 0.01s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .iconStyle {
    right: calc(50vw - 25px);
  }
}
