.section {
  padding: 1rem 15rem;
}

.logo {
  position: absolute;
  left: 1rem;
  top: 10px;
}

.menuButton {
  background-color: transparent;
  color: #ffcc48;
  border: 2px solid #ffcc48;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .section {
    padding: 3rem 2rem;
  }
  .logo {
    left: 1.5rem;
  }
  .menuButton {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }
}
